In [3]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
df=pd.read_json(StringIO(Data))

In [2]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [3]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [5]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [6]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',header=None)

In [8]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045

In [9]:
df.to_csv('wine.csv')

In [2]:
%pip install lxml

Collecting lxml
  Downloading lxml-6.0.1-cp312-cp312-macosx_10_13_universal2.whl.metadata (3.8 kB)
Downloading lxml-6.0.1-cp312-cp312-macosx_10_13_universal2.whl (8.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 1.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-6.0.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
url="https://www.ensia.edu.dz/fr/programme-detude/#Third_year"
df=pd.read_html(url)

In [15]:
df[5]

                       Unité d’Enseignement VHS C/TD/TP VHH Total C/TD/TP  \
                       Unité d’Enseignement VHS C/TD/TP VHH Total C/TD/TP
0                      UE Fondamentales 6.1      172h30             11h30
1                          Machine Learning      112h30              7h30
2        Numerical Methods and Optimisation         60h                4h
3                    UE Methodologiques 6.1      187h30                14
4   Time Series Analysis and Classification       52h30              3h30
5                        Advanced Databases       67h30              4h30
6             Computer and network Security       67h30              4h30
7                             Group-Project       22h30              1h30
8                      UE Transversales 6.1         30h                2h
9     Project Management Project Management         30h                2h
10                   Sous-Total par Semaine         NaN             27h30
11           Total Semestre 2 (15 Semaines)      412h30            412h30

   V.H. Hebdomadaire                                 Coef Crédits  \
                   C    TD      TP Travail Personnel Coef Crédits
0                 5h    3h    3h30                 0    7      11
1                 3h  1h30      3h               NaN    4       6
2                 2h  1h30    0h30               NaN    3       5
3               4h30  4h30      5h                3h   11      17
4               1h30  1h30    0h30               NaN    3       5
5               1h30  1h30    1h30               NaN    3       5
6               1h30  1h30    1h30               NaN    3       5
7                NaN   NaN    1h30                3h    2       2
8               1h30  0h30       0                 0    1       2
9               1h30  0h30     NaN               NaN    1       2
10               11h    8h    8h30                3h   19      30
11              165h  120h  127h30               45h   19      30

   Mode d’évaluation
             Continu Examen
0                NaN    NaN
1                40%    60%
2                40%    60%
3                NaN    NaN
4                40%    60%
5                40%    60%
6                40%    60%
7               100%    NaN
8                NaN    NaN
9                40%    60%
10               NaN    NaN
11               NaN    NaN

In [16]:
df[5].to_csv("table.csv")

In [5]:
df[5].to_pickle('table.pkl')

In [6]:
pd.read_pickle('table.pkl')

                       Unité d’Enseignement VHS C/TD/TP VHH Total C/TD/TP  \
                       Unité d’Enseignement VHS C/TD/TP VHH Total C/TD/TP
0                      UE Fondamentales 6.1      172h30             11h30
1                          Machine Learning      112h30              7h30
2        Numerical Methods and Optimisation         60h                4h
3                    UE Methodologiques 6.1      187h30                14
4   Time Series Analysis and Classification       52h30              3h30
5                        Advanced Databases       67h30              4h30
6             Computer and network Security       67h30              4h30
7                             Group-Project       22h30              1h30
8                      UE Transversales 6.1         30h                2h
9     Project Management Project Management         30h                2h
10                   Sous-Total par Semaine         NaN             27h30
11           Total Semestre 2 (15 Semaines)      412h30            412h30

   V.H. Hebdomadaire                                 Coef Crédits  \
                   C    TD      TP Travail Personnel Coef Crédits
0                 5h    3h    3h30                 0    7      11
1                 3h  1h30      3h               NaN    4       6
2                 2h  1h30    0h30               NaN    3       5
3               4h30  4h30      5h                3h   11      17
4               1h30  1h30    0h30               NaN    3       5
5               1h30  1h30    1h30               NaN    3       5
6               1h30  1h30    1h30               NaN    3       5
7                NaN   NaN    1h30                3h    2       2
8               1h30  0h30       0                 0    1       2
9               1h30  0h30     NaN               NaN    1       2
10               11h    8h    8h30                3h   19      30
11              165h  120h  127h30               45h   19      30

   Mode d’évaluation
             Continu Examen
0                NaN    NaN
1                40%    60%
2                40%    60%
3                NaN    NaN
4                40%    60%
5                40%    60%
6                40%    60%
7               100%    NaN
8                NaN    NaN
9                40%    60%
10               NaN    NaN
11               NaN    NaN